.rw{
  display: flex;
}

.cell_box{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.score_num{
  display: inline;
  position: relative;
  color: white;
  font-size: x-large;
}

.score{
  display: inline;
  position: relative;
  color: white;
  font-size: x-large;
}

.score_parent{
  display: flex;
  position: relative;
  height: 50px;
}